In [11]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv("Cars.csv")

In [3]:
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Colour,Seats,No. of Doors,New_Price,Price
0,Mahindra Scorpio,Pune,2012.0,99000.0,Diesel,Manual,Third,12.05 kmpl,2179 CC,120 bhp,Black/Silver,8.0,5.0,NaN,6.00
1,Maruti Baleno,Kochi,2018.0,18678.0,Petrol,Manual,First,21.1 kmpl,998 CC,100 bhp,Others,5.0,4.0,NaN,8.32
2,Mahindra Xylo,Bangalore,2013.0,197000.0,Diesel,Manual,First,11.68 kmpl,2498 CC,112 bhp,White,7.0,5.0,NaN,4.00
3,Hyundai Grand,Delhi,2014.0,45000.0,Diesel,Manual,First,24.0 kmpl,1120 CC,70 bhp,White,5.0,4.0,NaN,3.49
4,Toyota Innova,Delhi,2011.0,65000.0,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,Others,8.0,5.0,NaN,6.40

In [46]:
data.dtypes

Name                  object
Location              object
Year                 float64
Kilometers_Driven    float64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage              float64
Engine                object
Power                 object
Colour                object
Seats                float64
No. of Doors         float64
Price                float64
dtype: object

In [4]:
data.describe()

              Year  Kilometers_Driven        Seats  No. of Doors        Price
count  5959.000000       5.953000e+03  5956.000000   5960.000000  5961.000000
mean   2013.389159       5.871110e+04     5.269140      4.114933     9.528103
std       3.243051       9.171221e+04     0.789048      0.344757    11.214382
min    1998.000000       1.710000e+02     2.000000      2.000000     0.440000
25%    2011.500000       3.393100e+04     5.000000      4.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000      4.000000     5.660000
75%    2016.000000       7.300000e+04     5.000000      4.000000    10.000000
max    2019.000000       6.500000e+06    10.000000      5.000000   160.000000

In [5]:
data.isnull().sum()

Name                    0
Location               11
Year                    2
Kilometers_Driven       8
Fuel_Type               0
Transmission           27
Owner_Type             15
Mileage                 2
Engine                 17
Power                  32
Colour                 11
Seats                   5
No. of Doors            1
New_Price            5137
Price                   0
dtype: int64

In [6]:
data.shape

(5961, 15)

In [9]:
data.corr()

,Year,Kilometers_Driven,Seats,No. of Doors,Price
Year,1.000000,-0.172923,0.014357,0.018310,0.305501
Kilometers_Driven,-0.172923,1.000000,0.086881,0.068335,-0.011403
Seats,0.014357,0.086881,1.000000,0.905095,0.060332
No. of Doors,0.018310,0.068335,0.905095,1.000000,0.066697
Price,0.305501,-0.011403,0.060332,0.066697,1.000000

In [50]:
data.drop(['New_Price'],inplace=True,axis=1)

In [51]:
data.drop(["Engine","Power"],inplace=True,axis=1)

In [58]:
data.dropna().shape

(5902, 12)

In [18]:
(5961-5889)/5961

0.012078510317060896

In [52]:
data.Mileage = data.Mileage.apply(lambda x: float(str(x).replace("kmpl","").replace("km/kg","")))

In [53]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.linear_model import LinearRegression

In [60]:
one_enc = OneHotEncoder()

In [59]:
data_1 = pd.get_dummies(data,["Name","Location","Year","Fuel_Type","Transmission","Owner_Type","Colour","Seats",'No. of Doors'])

ValueError: Length of 'prefix' (9) did not match the length of the columns being encoded (6).

In [62]:
data_enc = one_enc.fit_transform(data[["Name","Location","Year","Fuel_Type","Transmission","Owner_Type","Colour","Seats",'No. of Doors']])

In [63]:
lr = LinearRegression()

In [66]:
lr.fit(data_enc,data.Price)

LinearRegression()

In [69]:
from sklearn.metrics import r2_score

In [70]:
r2_score(data.Price,\lr.predict(data_enc))

0.8642120528202625

In [ ]:
create c2 as time.minute from table

In [ ]:
select Avg(column)  from table groupby  round(c2)